/* #region Button */
.button {
    background-color: $primary-col;
    color: $primary-light-col;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    @include font-size(1rem *1.25);
    margin: 0.2rem 0.5rem 0.5rem;
    cursor: pointer;
    border: calc($bor-width * 1px) solid #4B2D87;
    box-shadow: calc(6 * 1px) calc(6 * 1px) 0 #000000;
    outline: transparent;
    padding: calc(8 * 1px) calc(16 * 1px);
    border-radius: 0;
    cursor: pointer;
    transition: all 0.2s ease;
}


/* #endregion Button */

/* #region Color Button */
@each $name, $colour in $colours {
    .button.bg-#{$name} {
        background-color: $colour;
        border: $bor-width solid $colour;
        //Text sxhwarz wenn farbe zu dunkel sonst weiss
        @if lightness($colour) <45% {
            color: $white-col;
        } @else {
            color: $black-col;
        }
    }

    .button.bg-#{$name}.border {
        background-color: $white-col;
        color: $black-col;
    }

    .button.bg-#{$name}:hover {
        background-color: $white-col;
        color: $black-col;
        box-shadow: calc(8 / 2 * 1px) calc(8 / 2 * 1px) 0 #000000;
    }

    .button.bg-#{$name}.border:hover {
        background-color: $colour;
        //Text sxhwarz wenn farbe zu dunkel sonst weiss
        @if lightness($colour) <45% {
            color: $white-col;
        } @else {
            color: $black-col;
        }
        box-shadow: calc(8 / 2 * 1px) calc(8 / 2 * 1px) 0 #000000;
    }

    .button.button.bg-#{$name}:active {
        box-shadow: 0 0 0 #000000;
    }
    
    .button.button.bg-#{$name}.border:active {
        box-shadow: 0 0 0 #000000;
    }
}
/* #endregion Color Button */