/* #region Button */
.button {
    background-color: $primary-col;
    color: $primary-light-col;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 5px;
    border-radius: 5px;
    transition-duration: 0.4s;
}

/* #endregion Button */

/* #region Color Button */
@each $name, $colour in $colours {
    .button.bg-#{$name} {
        background-color: $colour;
        border: 5px solid $colour;
        //Text sxhwarz wenn farbe zu dunkel sonst weiss
        @if lightness($colour) <45% {
            color: $white-col;
        } @else {
            color: $black-col;
        }
    }

    .button.bg-#{$name}.border {
        background-color: $white-col;
        color: $black-col;
    }

    .button.bg-#{$name}:hover {
        background-color: $white-col;
        color: $black-col;
    }

    .button.bg-#{$name}.border:hover {
        background-color: $colour;
        //Text sxhwarz wenn farbe zu dunkel sonst weiss
        @if lightness($colour) <45% {
            color: $white-col;
        } @else {
            color: $black-col;
        }
    }
}
/* #endregion Color Button */