/* #region Colors */

/* #region Background */
.bg-primary {
    background-color: $primary-col;
  }
  
  .bg-secondary {
    background-color: $secondary-col;
  }
  
  .bg-success {
    background-color: $success-col;
  }
  
  .bg-danger {
    background-color: $danger-col;
  }
  
  .bg-warning {
    background-color: $warning-col;
  }
  
  .bg-info {
    background-color: $info-col;
  }
  
  .bg-light {
    background-color: $light-col;
  }
  
  .bg-dark {
    background-color: $dark-col;
  }
  
  .bg-white {
    background-color: $white-col;
  }
  
  .bg-black {
    background-color: $black-col;
  }
  /* #endregion */

  /* #region Text */
  .txt-primary {
    color: $primary-col;
  }
  
  .txt-secondary {
    color: $secondary-col;
  }
  
  .txt-success {
    color: $success-col;
  }
  
  .txt-danger {
    color: $danger-col;
  }
  
  .txt-warning {
    color: $warning-col;
  }
  
  .txt-info {
    color: $info-col;
  }
  
  .txt-light {
    color: $light-col;
  }
  
  .txt-dark {
    color: $danger-col;
  }
  
  .txt-white {
    color: $white-col;
  }
  
  .txt-black {
    color: $black-col;
  }
  /*#endregion*/
  /* #endregion Colors */
  