//everything that does not fit a category
//Tooltips maybs?
//#region body
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

h1{
    @include font-size(1rem*3);
}

h2{
    @include font-size(1rem*2.5);
}

h3{
    @include font-size(1rem*2);
}

h4{
    @include font-size(1rem*1.5);
}

h5{
    @include font-size(1rem*1.25);
}

h6{
    @include font-size(1rem*1);
}

p{
    @include font-size(1rem*1.25);
}

.container-center{
    margin-left: auto;
    margin-right: auto;
}
//#endregion

//#region page wide style
.shadow{
    box-shadow: calc(6 * 1px) calc(6 * 1px) 0 #000000;
}
//endregion