//everything that does not fit a category
//Tooltips maybs?
//#region body
body{
    display: flex;
    flex-direction: column;
}
.container-center{
    margin-left: auto;
    margin-right: auto;
}
//#endregion