.navbar {
    display: flex;
    background-color: $primary-col;
    padding: 16px;
    //font maybe
    color: $light-col;
}

.nav-items {
    display: flex;
}

.nav-link {
    padding-left: 8px;
}

.nav-right {
    margin-left: auto;
}

.nav-toggle{
    display: none;
}

.nav-toggle img {
    width: 50px;
}

@media only screen and (max-width: 768px) {
    .nav-items,
    .navbar {
        flex-direction: column;
    }
    .nav-items {
        display: none;
    }
    .nav-right {
        margin-left: 0;
    }
    .Navbar__ToggleShow {
        display: flex;
    }

    .nav-toggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }
}

.nav-brand-image {
    width: 150px;
}
