$primary-col: #4B2D87;
$primary-light-col: #dbcdf8;
$secondary-col: #7949da;
$success-col: yellowgreen;
$danger-col: rgb(221, 1, 1);
$warning-col: rgb(235, 235, 5);
$info-col: rgb(113, 139, 255);
$light-col: rgb(192, 192, 192);
$dark-col: rgb(134, 134, 134);
$white-col: white;
$black-col: black;

//second set of colours for darkmode
//...

$colours: ( "primary":$primary-col,
            "primary-light": $primary-light-col,
            "secondary": $secondary-col,
            "success": $success-col,
            "danger": $danger-col,
            "warning": $warning-col,
            "info": $info-col,
            "light": $light-col,
            "dark": $dark-col,
            "white": $white-col,
            "black": $black-col);
