$primary-col: #4b2d87;
$primary-light-col: #8b44ca;
$secondary-col: #7949da;
$success-col: #3dca15;
$danger-col: #c3150c;
$warning-col: #f3c703;
$info-col: #3bb5ff;
$light-col: rgb(192, 192, 192);
$dark-col: rgb(134, 134, 134);
$verydark-col: rgb(46, 46, 46);
$white-col: white;
$black-col: black;

$colours: ( "primary":$primary-col,
            "primary-light": $primary-light-col,
            "secondary": $secondary-col,
            "success": $success-col,
            "danger": $danger-col,
            "warning": $warning-col,
            "info": $info-col,
            "light": $light-col,
            "dark": $dark-col,
            "verydark": $verydark-col,
            "white": $white-col,
            "black": $black-col);
//maybe darkmode colors(vlt. als zweites Projekt oder alles in einem?)

//Borders
$bor-radius: 5px;
$bor-width: 5px;