/* #region HTML*/
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap");
/* #region Button */
.button {
  background-color: #4b2d87;
  color: #8b44ca;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25rem;
  margin: 4px 2px;
  cursor: pointer;
  border: 5px;
  border-radius: 5px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

/* #endregion Button */
/* #region Color Button */
.button.bg-primary {
  background-color: #4b2d87;
  border: 5px solid #4b2d87;
  color: white;
}

.button.bg-primary.border {
  background-color: white;
  color: black;
}

.button.bg-primary:hover {
  background-color: white;
  color: black;
}

.button.bg-primary.border:hover {
  background-color: #4b2d87;
  color: white;
}

.button.bg-primary-light {
  background-color: #8b44ca;
  border: 5px solid #8b44ca;
  color: black;
}

.button.bg-primary-light.border {
  background-color: white;
  color: black;
}

.button.bg-primary-light:hover {
  background-color: white;
  color: black;
}

.button.bg-primary-light.border:hover {
  background-color: #8b44ca;
  color: black;
}

.button.bg-secondary {
  background-color: #7949da;
  border: 5px solid #7949da;
  color: black;
}

.button.bg-secondary.border {
  background-color: white;
  color: black;
}

.button.bg-secondary:hover {
  background-color: white;
  color: black;
}

.button.bg-secondary.border:hover {
  background-color: #7949da;
  color: black;
}

.button.bg-success {
  background-color: #3dca15;
  border: 5px solid #3dca15;
  color: white;
}

.button.bg-success.border {
  background-color: white;
  color: black;
}

.button.bg-success:hover {
  background-color: white;
  color: black;
}

.button.bg-success.border:hover {
  background-color: #3dca15;
  color: white;
}

.button.bg-danger {
  background-color: #c3150c;
  border: 5px solid #c3150c;
  color: white;
}

.button.bg-danger.border {
  background-color: white;
  color: black;
}

.button.bg-danger:hover {
  background-color: white;
  color: black;
}

.button.bg-danger.border:hover {
  background-color: #c3150c;
  color: white;
}

.button.bg-warning {
  background-color: #f3c703;
  border: 5px solid #f3c703;
  color: black;
}

.button.bg-warning.border {
  background-color: white;
  color: black;
}

.button.bg-warning:hover {
  background-color: white;
  color: black;
}

.button.bg-warning.border:hover {
  background-color: #f3c703;
  color: black;
}

.button.bg-info {
  background-color: #3bb5ff;
  border: 5px solid #3bb5ff;
  color: black;
}

.button.bg-info.border {
  background-color: white;
  color: black;
}

.button.bg-info:hover {
  background-color: white;
  color: black;
}

.button.bg-info.border:hover {
  background-color: #3bb5ff;
  color: black;
}

.button.bg-light {
  background-color: silver;
  border: 5px solid silver;
  color: black;
}

.button.bg-light.border {
  background-color: white;
  color: black;
}

.button.bg-light:hover {
  background-color: white;
  color: black;
}

.button.bg-light.border:hover {
  background-color: silver;
  color: black;
}

.button.bg-dark {
  background-color: #868686;
  border: 5px solid #868686;
  color: black;
}

.button.bg-dark.border {
  background-color: white;
  color: black;
}

.button.bg-dark:hover {
  background-color: white;
  color: black;
}

.button.bg-dark.border:hover {
  background-color: #868686;
  color: black;
}

.button.bg-verydark {
  background-color: #2e2e2e;
  border: 5px solid #2e2e2e;
  color: white;
}

.button.bg-verydark.border {
  background-color: white;
  color: black;
}

.button.bg-verydark:hover {
  background-color: white;
  color: black;
}

.button.bg-verydark.border:hover {
  background-color: #2e2e2e;
  color: white;
}

.button.bg-white {
  background-color: white;
  border: 5px solid white;
  color: black;
}

.button.bg-white.border {
  background-color: white;
  color: black;
}

.button.bg-white:hover {
  background-color: white;
  color: black;
}

.button.bg-white.border:hover {
  background-color: white;
  color: black;
}

.button.bg-black {
  background-color: black;
  border: 5px solid black;
  color: white;
}

.button.bg-black.border {
  background-color: white;
  color: black;
}

.button.bg-black:hover {
  background-color: white;
  color: black;
}

.button.bg-black.border:hover {
  background-color: black;
  color: white;
}

/* #endregion Color Button */
/* #region Colors */
/* #region Background */
.bg-primary {
  background-color: #4b2d87;
}

.bg-secondary {
  background-color: #7949da;
}

.bg-success {
  background-color: #3dca15;
}

.bg-danger {
  background-color: #c3150c;
}

.bg-warning {
  background-color: #f3c703;
}

.bg-info {
  background-color: #3bb5ff;
}

.bg-light {
  background-color: silver;
}

.bg-dark {
  background-color: #868686;
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

/* #endregion */
/* #region Text */
.txt-primary {
  color: #4b2d87;
}

.txt-secondary {
  color: #7949da;
}

.txt-success {
  color: #3dca15;
}

.txt-danger {
  color: #c3150c;
}

.txt-warning {
  color: #f3c703;
}

.txt-info {
  color: #3bb5ff;
}

.txt-light {
  color: silver;
}

.txt-dark {
  color: #c3150c;
}

.txt-white {
  color: white;
}

.txt-black {
  color: black;
}

/*#endregion*/
/* #endregion Colors */
footer {
  position: fixed;
  bottom: 0;
  width: 100%
}

@media (max-height: 800px) {
  footer {
    position: static;
  }
}

.footer-distributed {
  background-color: #2e2e2e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-size: 1rem;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: white;
  margin: 0;
}

.footer-distributed .footer-left img {
  width: 30%;
}

.footer-distributed h3 span {
  color: #f3c703;
}

.footer-distributed .footer-links {
  color: white;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: silver;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #2e2e2e;
  color: white;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: silver;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center h3 {
  display: block;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #f3c703;
  font-size: 1rem;
  text-decoration: none;
}

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: silver;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #2e2e2e;
  border-radius: 2px;
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

@media (max-width: 880px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

form {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

input[type="Text"] {
  width: 100%;
  padding: 10px 15px 5px;
  margin: 0px 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-bottom: 5px solid #8b44ca;
  font-size: 1.25rem;
  font-family: 'Raleway', sans-serif;
}

input[type="Text"]:focus {
  border: none;
  outline: 0;
  border-bottom: 5px solid #4b2d87;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

label.lbl-text {
  font-size: 1.25rem;
  font-weight: 500;
}

input[type="Date"] {
  width: 100%;
  padding: 10px 15px 5px;
  margin: 0px 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-bottom: 5px solid #8b44ca;
  font-size: 1.25rem;
  font-family: 'Raleway', sans-serif;
}

input[type="Date"]:focus {
  border: none;
  outline: 0;
  border-bottom: 5px solid #4b2d87;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

input[type="Number"] {
  width: 100%;
  padding: 10px 15px 5px;
  margin: 0px 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-bottom: 5px solid #8b44ca;
  font-size: 1.25rem;
  font-family: 'Raleway', sans-serif;
}

input[type="Number"]:focus {
  border: none;
  outline: 0;
  border-bottom: 5px solid #4b2d87;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

form > button.right {
  float: right;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* #region Grid */
/* #region Variables */
/* #endregion */
/* #region Mixin Visibility */
/* #endregion*/
/* #region Mixin Grid */
/* #endregion */
/* #region visibility */
.show {
  display: block !important;
}

.row.show {
  display: -ms-flexbox !important;
  display: -webkit-box !important;
  display: flex !important;
}

.hide {
  display: none !important;
}

.show-xs {
  display: block !important;
}

.row.show-xs {
  display: -ms-flexbox !important;
  display: -webkit-box !important;
  display: flex !important;
}

.hide-xs {
  display: none !important;
}

@media only screen and (max-width: 40rem) {
  .show-xs-only {
    display: block !important;
  }
  .row.show-xs-only {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
  }
  .hide-xs-only {
    display: none !important;
  }
}

@media only screen and (min-width: 41rem) {
  .show-sm {
    display: block !important;
  }
  .row.show-sm {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
  }
  .hide-sm {
    display: none !important;
  }
}

@media only screen and (min-width: 41rem) and (max-width: 64rem) {
  .show-sm-only {
    display: block !important;
  }
  .row.show-sm-only {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
  }
  .hide-sm-only {
    display: none !important;
  }
}

@media only screen and (min-width: 65rem) {
  .show-md {
    display: block !important;
  }
  .row.show-md {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
  }
  .hide-md {
    display: none !important;
  }
}

@media only screen and (min-width: 65rem) and (max-width: 90rem) {
  .show-md-only {
    display: block !important;
  }
  .row.show-md-only {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
  }
  .hide-md-only {
    display: none !important;
  }
}

@media only screen and (min-width: 91rem) {
  .show-lg {
    display: block !important;
  }
  .row.show-lg {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
  }
  .hide-lg {
    display: none !important;
  }
}

@media only screen and (min-width: 91rem) and (max-width: 120rem) {
  .show-lg-only {
    display: block !important;
  }
  .row.show-lg-only {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
  }
  .hide-lg-only {
    display: none !important;
  }
}

@media only screen and (min-width: 121rem) {
  .show-xl {
    display: block !important;
  }
  .row.show-xl {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
  }
  .hide-xl {
    display: none !important;
  }
}

/* #endregion*/
/* #region Grid*/
.row {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.row.natural-height {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.row.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.col {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  max-width: 100%;
  padding: 0.75rem;
}

.col.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.first {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.last {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.align-start {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.align-end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.align-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.col-xs {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  max-width: 100%;
  padding: 0.75rem;
}

.col-xs-1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 7.69231%;
      flex-basis: 7.69231%;
  max-width: 7.69231%;
  padding: 0.75rem;
}

.col-xs-offset-1 {
  margin-left: 7.69231%;
}

.col-xs-2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 15.38462%;
      flex-basis: 15.38462%;
  max-width: 15.38462%;
  padding: 0.75rem;
}

.col-xs-offset-2 {
  margin-left: 15.38462%;
}

.col-xs-3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 23.07692%;
      flex-basis: 23.07692%;
  max-width: 23.07692%;
  padding: 0.75rem;
}

.col-xs-offset-3 {
  margin-left: 23.07692%;
}

.col-xs-4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 30.76923%;
      flex-basis: 30.76923%;
  max-width: 30.76923%;
  padding: 0.75rem;
}

.col-xs-offset-4 {
  margin-left: 30.76923%;
}

.col-xs-5 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 38.46154%;
      flex-basis: 38.46154%;
  max-width: 38.46154%;
  padding: 0.75rem;
}

.col-xs-offset-5 {
  margin-left: 38.46154%;
}

.col-xs-6 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 46.15385%;
      flex-basis: 46.15385%;
  max-width: 46.15385%;
  padding: 0.75rem;
}

.col-xs-offset-6 {
  margin-left: 46.15385%;
}

.col-xs-7 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 53.84615%;
      flex-basis: 53.84615%;
  max-width: 53.84615%;
  padding: 0.75rem;
}

.col-xs-offset-7 {
  margin-left: 53.84615%;
}

.col-xs-8 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 61.53846%;
      flex-basis: 61.53846%;
  max-width: 61.53846%;
  padding: 0.75rem;
}

.col-xs-offset-8 {
  margin-left: 61.53846%;
}

.col-xs-9 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 69.23077%;
      flex-basis: 69.23077%;
  max-width: 69.23077%;
  padding: 0.75rem;
}

.col-xs-offset-9 {
  margin-left: 69.23077%;
}

.col-xs-10 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 76.92308%;
      flex-basis: 76.92308%;
  max-width: 76.92308%;
  padding: 0.75rem;
}

.col-xs-offset-10 {
  margin-left: 76.92308%;
}

.col-xs-11 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 84.61538%;
      flex-basis: 84.61538%;
  max-width: 84.61538%;
  padding: 0.75rem;
}

.col-xs-offset-11 {
  margin-left: 84.61538%;
}

.col-xs-12 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 92.30769%;
      flex-basis: 92.30769%;
  max-width: 92.30769%;
  padding: 0.75rem;
}

.col-xs-offset-12 {
  margin-left: 92.30769%;
}

.col-xs-13 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
  padding: 0.75rem;
}

.col-xs-offset-13 {
  margin-left: 100%;
}

.row.start-xs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.row.center-xs {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row.end-xs {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.row.top-xs {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.row.middle-xs {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row.bottom-xs {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.row.around-xs {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.row.between-xs {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.first-xs {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.last-xs {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media only screen and (min-width: 41rem) {
  .col-sm {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    max-width: 100%;
    padding: 0.75rem;
  }
  .col-sm-1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 7.69231%;
        flex-basis: 7.69231%;
    max-width: 7.69231%;
    padding: 0.75rem;
  }
  .col-sm-offset-1 {
    margin-left: 7.69231%;
  }
  .col-sm-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 15.38462%;
        flex-basis: 15.38462%;
    max-width: 15.38462%;
    padding: 0.75rem;
  }
  .col-sm-offset-2 {
    margin-left: 15.38462%;
  }
  .col-sm-3 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 23.07692%;
        flex-basis: 23.07692%;
    max-width: 23.07692%;
    padding: 0.75rem;
  }
  .col-sm-offset-3 {
    margin-left: 23.07692%;
  }
  .col-sm-4 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 30.76923%;
        flex-basis: 30.76923%;
    max-width: 30.76923%;
    padding: 0.75rem;
  }
  .col-sm-offset-4 {
    margin-left: 30.76923%;
  }
  .col-sm-5 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 38.46154%;
        flex-basis: 38.46154%;
    max-width: 38.46154%;
    padding: 0.75rem;
  }
  .col-sm-offset-5 {
    margin-left: 38.46154%;
  }
  .col-sm-6 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 46.15385%;
        flex-basis: 46.15385%;
    max-width: 46.15385%;
    padding: 0.75rem;
  }
  .col-sm-offset-6 {
    margin-left: 46.15385%;
  }
  .col-sm-7 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 53.84615%;
        flex-basis: 53.84615%;
    max-width: 53.84615%;
    padding: 0.75rem;
  }
  .col-sm-offset-7 {
    margin-left: 53.84615%;
  }
  .col-sm-8 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 61.53846%;
        flex-basis: 61.53846%;
    max-width: 61.53846%;
    padding: 0.75rem;
  }
  .col-sm-offset-8 {
    margin-left: 61.53846%;
  }
  .col-sm-9 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 69.23077%;
        flex-basis: 69.23077%;
    max-width: 69.23077%;
    padding: 0.75rem;
  }
  .col-sm-offset-9 {
    margin-left: 69.23077%;
  }
  .col-sm-10 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 76.92308%;
        flex-basis: 76.92308%;
    max-width: 76.92308%;
    padding: 0.75rem;
  }
  .col-sm-offset-10 {
    margin-left: 76.92308%;
  }
  .col-sm-11 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 84.61538%;
        flex-basis: 84.61538%;
    max-width: 84.61538%;
    padding: 0.75rem;
  }
  .col-sm-offset-11 {
    margin-left: 84.61538%;
  }
  .col-sm-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 92.30769%;
        flex-basis: 92.30769%;
    max-width: 92.30769%;
    padding: 0.75rem;
  }
  .col-sm-offset-12 {
    margin-left: 92.30769%;
  }
  .col-sm-13 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
    padding: 0.75rem;
  }
  .col-sm-offset-13 {
    margin-left: 100%;
  }
  .row.start-sm {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row.center-sm {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row.end-sm {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row.top-sm {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .row.middle-sm {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row.bottom-sm {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .row.around-sm {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .row.between-sm {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .first-sm {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .last-sm {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media only screen and (min-width: 65rem) {
  .col-md {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    max-width: 100%;
    padding: 0.75rem;
  }
  .col-md-1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 7.69231%;
        flex-basis: 7.69231%;
    max-width: 7.69231%;
    padding: 0.75rem;
  }
  .col-md-offset-1 {
    margin-left: 7.69231%;
  }
  .col-md-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 15.38462%;
        flex-basis: 15.38462%;
    max-width: 15.38462%;
    padding: 0.75rem;
  }
  .col-md-offset-2 {
    margin-left: 15.38462%;
  }
  .col-md-3 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 23.07692%;
        flex-basis: 23.07692%;
    max-width: 23.07692%;
    padding: 0.75rem;
  }
  .col-md-offset-3 {
    margin-left: 23.07692%;
  }
  .col-md-4 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 30.76923%;
        flex-basis: 30.76923%;
    max-width: 30.76923%;
    padding: 0.75rem;
  }
  .col-md-offset-4 {
    margin-left: 30.76923%;
  }
  .col-md-5 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 38.46154%;
        flex-basis: 38.46154%;
    max-width: 38.46154%;
    padding: 0.75rem;
  }
  .col-md-offset-5 {
    margin-left: 38.46154%;
  }
  .col-md-6 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 46.15385%;
        flex-basis: 46.15385%;
    max-width: 46.15385%;
    padding: 0.75rem;
  }
  .col-md-offset-6 {
    margin-left: 46.15385%;
  }
  .col-md-7 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 53.84615%;
        flex-basis: 53.84615%;
    max-width: 53.84615%;
    padding: 0.75rem;
  }
  .col-md-offset-7 {
    margin-left: 53.84615%;
  }
  .col-md-8 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 61.53846%;
        flex-basis: 61.53846%;
    max-width: 61.53846%;
    padding: 0.75rem;
  }
  .col-md-offset-8 {
    margin-left: 61.53846%;
  }
  .col-md-9 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 69.23077%;
        flex-basis: 69.23077%;
    max-width: 69.23077%;
    padding: 0.75rem;
  }
  .col-md-offset-9 {
    margin-left: 69.23077%;
  }
  .col-md-10 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 76.92308%;
        flex-basis: 76.92308%;
    max-width: 76.92308%;
    padding: 0.75rem;
  }
  .col-md-offset-10 {
    margin-left: 76.92308%;
  }
  .col-md-11 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 84.61538%;
        flex-basis: 84.61538%;
    max-width: 84.61538%;
    padding: 0.75rem;
  }
  .col-md-offset-11 {
    margin-left: 84.61538%;
  }
  .col-md-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 92.30769%;
        flex-basis: 92.30769%;
    max-width: 92.30769%;
    padding: 0.75rem;
  }
  .col-md-offset-12 {
    margin-left: 92.30769%;
  }
  .col-md-13 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
    padding: 0.75rem;
  }
  .col-md-offset-13 {
    margin-left: 100%;
  }
  .row.start-md {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row.center-md {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row.end-md {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row.top-md {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .row.middle-md {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row.bottom-md {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .row.around-md {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .row.between-md {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .first-md {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .last-md {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media only screen and (min-width: 91rem) {
  .col-lg {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    max-width: 100%;
    padding: 0.75rem;
  }
  .col-lg-1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 7.69231%;
        flex-basis: 7.69231%;
    max-width: 7.69231%;
    padding: 0.75rem;
  }
  .col-lg-offset-1 {
    margin-left: 7.69231%;
  }
  .col-lg-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 15.38462%;
        flex-basis: 15.38462%;
    max-width: 15.38462%;
    padding: 0.75rem;
  }
  .col-lg-offset-2 {
    margin-left: 15.38462%;
  }
  .col-lg-3 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 23.07692%;
        flex-basis: 23.07692%;
    max-width: 23.07692%;
    padding: 0.75rem;
  }
  .col-lg-offset-3 {
    margin-left: 23.07692%;
  }
  .col-lg-4 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 30.76923%;
        flex-basis: 30.76923%;
    max-width: 30.76923%;
    padding: 0.75rem;
  }
  .col-lg-offset-4 {
    margin-left: 30.76923%;
  }
  .col-lg-5 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 38.46154%;
        flex-basis: 38.46154%;
    max-width: 38.46154%;
    padding: 0.75rem;
  }
  .col-lg-offset-5 {
    margin-left: 38.46154%;
  }
  .col-lg-6 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 46.15385%;
        flex-basis: 46.15385%;
    max-width: 46.15385%;
    padding: 0.75rem;
  }
  .col-lg-offset-6 {
    margin-left: 46.15385%;
  }
  .col-lg-7 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 53.84615%;
        flex-basis: 53.84615%;
    max-width: 53.84615%;
    padding: 0.75rem;
  }
  .col-lg-offset-7 {
    margin-left: 53.84615%;
  }
  .col-lg-8 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 61.53846%;
        flex-basis: 61.53846%;
    max-width: 61.53846%;
    padding: 0.75rem;
  }
  .col-lg-offset-8 {
    margin-left: 61.53846%;
  }
  .col-lg-9 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 69.23077%;
        flex-basis: 69.23077%;
    max-width: 69.23077%;
    padding: 0.75rem;
  }
  .col-lg-offset-9 {
    margin-left: 69.23077%;
  }
  .col-lg-10 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 76.92308%;
        flex-basis: 76.92308%;
    max-width: 76.92308%;
    padding: 0.75rem;
  }
  .col-lg-offset-10 {
    margin-left: 76.92308%;
  }
  .col-lg-11 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 84.61538%;
        flex-basis: 84.61538%;
    max-width: 84.61538%;
    padding: 0.75rem;
  }
  .col-lg-offset-11 {
    margin-left: 84.61538%;
  }
  .col-lg-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 92.30769%;
        flex-basis: 92.30769%;
    max-width: 92.30769%;
    padding: 0.75rem;
  }
  .col-lg-offset-12 {
    margin-left: 92.30769%;
  }
  .col-lg-13 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
    padding: 0.75rem;
  }
  .col-lg-offset-13 {
    margin-left: 100%;
  }
  .row.start-lg {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row.center-lg {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row.end-lg {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row.top-lg {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .row.middle-lg {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row.bottom-lg {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .row.around-lg {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .row.between-lg {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .first-lg {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .last-lg {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media only screen and (min-width: 121rem) {
  .col-xl {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    max-width: 100%;
    padding: 0.75rem;
  }
  .col-xl-1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 7.69231%;
        flex-basis: 7.69231%;
    max-width: 7.69231%;
    padding: 0.75rem;
  }
  .col-xl-offset-1 {
    margin-left: 7.69231%;
  }
  .col-xl-2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 15.38462%;
        flex-basis: 15.38462%;
    max-width: 15.38462%;
    padding: 0.75rem;
  }
  .col-xl-offset-2 {
    margin-left: 15.38462%;
  }
  .col-xl-3 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 23.07692%;
        flex-basis: 23.07692%;
    max-width: 23.07692%;
    padding: 0.75rem;
  }
  .col-xl-offset-3 {
    margin-left: 23.07692%;
  }
  .col-xl-4 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 30.76923%;
        flex-basis: 30.76923%;
    max-width: 30.76923%;
    padding: 0.75rem;
  }
  .col-xl-offset-4 {
    margin-left: 30.76923%;
  }
  .col-xl-5 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 38.46154%;
        flex-basis: 38.46154%;
    max-width: 38.46154%;
    padding: 0.75rem;
  }
  .col-xl-offset-5 {
    margin-left: 38.46154%;
  }
  .col-xl-6 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 46.15385%;
        flex-basis: 46.15385%;
    max-width: 46.15385%;
    padding: 0.75rem;
  }
  .col-xl-offset-6 {
    margin-left: 46.15385%;
  }
  .col-xl-7 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 53.84615%;
        flex-basis: 53.84615%;
    max-width: 53.84615%;
    padding: 0.75rem;
  }
  .col-xl-offset-7 {
    margin-left: 53.84615%;
  }
  .col-xl-8 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 61.53846%;
        flex-basis: 61.53846%;
    max-width: 61.53846%;
    padding: 0.75rem;
  }
  .col-xl-offset-8 {
    margin-left: 61.53846%;
  }
  .col-xl-9 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 69.23077%;
        flex-basis: 69.23077%;
    max-width: 69.23077%;
    padding: 0.75rem;
  }
  .col-xl-offset-9 {
    margin-left: 69.23077%;
  }
  .col-xl-10 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 76.92308%;
        flex-basis: 76.92308%;
    max-width: 76.92308%;
    padding: 0.75rem;
  }
  .col-xl-offset-10 {
    margin-left: 76.92308%;
  }
  .col-xl-11 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 84.61538%;
        flex-basis: 84.61538%;
    max-width: 84.61538%;
    padding: 0.75rem;
  }
  .col-xl-offset-11 {
    margin-left: 84.61538%;
  }
  .col-xl-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 92.30769%;
        flex-basis: 92.30769%;
    max-width: 92.30769%;
    padding: 0.75rem;
  }
  .col-xl-offset-12 {
    margin-left: 92.30769%;
  }
  .col-xl-13 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
    padding: 0.75rem;
  }
  .col-xl-offset-13 {
    margin-left: 100%;
  }
  .row.start-xl {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row.center-xl {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row.end-xl {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row.top-xl {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .row.middle-xl {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row.bottom-xl {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .row.around-xl {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .row.between-xl {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .first-xl {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .last-xl {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.col-gutter-lr {
  padding: 0 0.75rem;
}

.col-no-gutter {
  padding: 0;
}

/* #endregion */
/* #endregion */
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  h3 {
    font-size: 2rem;
  }
}

h4 {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.25rem;
}

.container-center {
  margin-left: auto;
  margin-right: auto;
}

/* Add a black background color to the top navigation */
.navbar {
  background-color: #4b2d87;
  overflow: hidden;
}

.navbar-element {
  float: right;
  display: block;
  height: 4rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Style the links inside the navigation bar */
.navbar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  text-align: center;
  padding-top: 1rem;
  text-decoration: none;
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  .navbar a {
    font-size: 1.5rem;
  }
}

/* Change the color of links on hover */
.navbar div.navbar-element:hover {
  background-color: #3bb5ff;
}

.navbar div.navbar-element:hover a {
  color: black;
}

/* Add an active class to highlight the current page */
.navbar div.active {
  background-color: #8b44ca;
  color: white;
  float: left;
  margin-left: 2rem;
}

/* Hide the link that should open and close the topnav on small screens */
.navbar-logo > img {
  height: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  float: left;
  display: block;
  text-align: center;
}

.navbar .navbar-burger {
  display: none;
  height: 3rem;
}
/*# sourceMappingURL=MrCodeCSS.css.map */